/* background image */

@media (min-width: 800px) {
    .greyscale {
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
    }
  
    .skew-background-img {  
      transform: scale(1.1) skew(10deg);
      transition: 5000ms ease all;
    }
  
    .unskew-background-img {
      transform: scale(1) skew(-10deg);
      transition: 5000ms ease all;
    }
  
    .glitch {
      animation: animate 0.1s linear ;
      animation-iteration-count: 5;
  
      }
      @keyframes animate
      {
        0%
        {
          background-position: 0 0;
          filter: hue-rotate(0deg);
        }
        10%
        {
          background-position: 5px 0;
        }
        20%
        {
          background-position: -5px 0;
        }
        30%
        {
          background-position: 15px 0;
        }
        40%
        {
          background-position: -5px 0;
        }
        50%
        {
          background-position: -25px 0;
        }
        60%
        {
          background-position: -50px 0;
        }
        70%
        {
          background-position: 0 -20px;
        }
        80%
        {
          background-position: -60px -20px;
        }
        81%
        {
          background-position: 0 0;
        }
        100%
        {
          background-position: 0 0;
          filter: hue-rotate(360deg);
        }
    }
  }

/* intro text */

#text-line-1:after {
    content: ".";
    background: white;
    -webkit-animation: blink 0.8s infinite;  
    box-sizing: content-box;
  }
  
  #text-line-1.changed:after {
    visibility: hidden;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #text-line-2:after {
    content: ".";
    background: white;
    -webkit-animation: blink 0.8s infinite;  
  }
  
  #text-line-2.changed:after {
    visibility: hidden;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #text-line-3:after {
    content: ".";
    background: white;
    -webkit-animation: blink 0.8s infinite;  
  }
  
  #text-line-3.changed:after {
    visibility: hidden;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* read more link */

.roll-out-blurred-left {
	-webkit-animation: roll-out-blurred-left 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: roll-out-blurred-left 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

 @-webkit-keyframes roll-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
}
@keyframes roll-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
}

/* projects header */

#projects-header:after {
    content: ".";
    background: white;
    -webkit-animation: blink 0.8s infinite;  
  }
  
  #tprojects-header.changed:after {
    visibility: hidden;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } 

/* project images */

.fadeOut {
  -webkit-animation-duration: 0.5s;animation-duration: 0.5s;
            -webkit-animation-fill-mode: both;animation-fill-mode: both;
         }
         
         @-webkit-keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;}
         }
         
         @keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;}
         }
         
         .fadeOut {
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
         }