/*body*/

body {
  width: 100%;
}

/*Navbar*/

/* .navbar-dark {
  opacity: 0.5;
} */

.nav-link {
  font-size: 1.25em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.navbar-brand {
 text-transform: uppercase;
}


/*background image*/

#hero_image {
  left: -10%;
  background-image: url(../img/hero_img-2.jpg);
  position: fixed;
  height: 100%;
  width: 120%;
  background-size: cover; 
  z-index: -1;
}

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) {
    #hero_image {
      left: -20%;      
      width: 140%;      
    }
}

/*Intro*/

#intro {  
  height: 100vh;  
  display: flex;  
  width: 100%;
}

#text-field-intro {
   height: 100%;
   width: 100%;
}

#text-line-1  {
  position: absolute;
  top: 25%;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;   	
  letter-spacing: 2px;
  justify-content: left;
}

#text-line-2 {
  position: absolute;
  top: 40%;  
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold; 
  letter-spacing: 2px;
  justify-content: left;
}

#text-line-3 {
  position: absolute;
  top: 55%;  
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;  
  letter-spacing: 2px;
  justify-content: left;
}

@media (max-width: 799px) {
  #text-field-intro {
    display: none;
  }
}

#text-field-intro-mobile {
  font-size: 5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;  
  letter-spacing: 2px;
  justify-content: left;
}

@media (min-width: 800px) {
  #text-field-intro-mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #text-field-intro-mobile {
    font-size: 2em;
    margin-top: 3em;
    margin-left: 1em;
  }
} 

#intro-img {
  height: 100%;
  width: 100%;
  opacity: 0.5; 
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

@media only screen and (max-width: 600px) {
  #intro-img {
    margin-left: -10em;
    width: 80%;
    height: 80%;
  }
} 

#read-more-link {
  position: absolute;
  top: 70%;
  left: 25%; 
  background-color: black;
}

@media (max-width: 1024px) {
  #read-more-link {  
    display: none;
  }
}

/*Projects*/
#projects {  
  max-height: 100%; 
  width: 100%;
  display: inline-flexbox;
}

#projects-header {
  position: relative;
  top: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  position: relative;  
  margin: 0 auto;  
  font-size: 4em;
  text-align: center;  
  transform: translateY(-50%);  
}

@media (max-width: 799px) {
  #projects-header {
    display: none;
  }
}

#projects-header-mobile {
  position: relative;
  top: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  position: relative;  
  margin: 0 auto;  
  font-size: 4em;
  text-align: center;  
  transform: translateY(-50%);  
}

@media (min-width: 800px) {
  #projects-header-mobile {
    display: none;
  }
}

#puzzle-container {
  margin-top: 5em !important;  
}

#tic-tac-toe-container {
  margin-top: 5em !important; 
}

#webshop-container {
  margin-top: 5em !important; 
}

.project-container {
  flex-direction: column;
  position: relative;  
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .project-container {
    border: none;
  }
} 

.iframe-wrapper { 
  height: 37vw;
  width: 100vw;
  border-style: solid;
  border-color: orange;
  border-width: 2px;
}

@media only screen and (max-width: 600px) {
  .iframe-wrapper {
    height: 85vw;
    width: 100%;
    border: none;
  }
} 

.project-image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  z-index: 99;
}

.project-image {
  position: absolute;
  height: 100%;
  width: 100%;  
  background-color: black;  
  z-index: -1;
}

.project-description {
  position: absolute;  
  color: white;  
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
  z-index: -1;
  text-align: center;
}

@media (max-width: 600px) {
  .project-description {
    font-size: 1em;
  }
}

.project-image-hide {
  display: none !important;
}

.project-iframe {
  height: 100vw;
  width: 100%;
  margin: 0 auto;
  border: none;  
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .project-iframe {
    height: 100%;
    width: 100%;      
  }
} 

.spinner-border {  
  position: absolute;    
  color: white;    
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  .spinner-border {
    position: absolute;
    height: 17.625em;
    width: 26.25em;
    top: 0; 
  }
} 

.hide-spinner {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}

.see-the-code-button {  
  font-size: 1.5em;
  height: 4em;
  width: 10em;  
  margin-top: 20px;
  margin-left: 87.5%;
  display: none;
}

.see-the-code-button-show {
  display: block;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .see-the-code-button {
    position: absolute;
    font-size: 1em;
    height: 2em;
    width: 20em;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  
  #see-the-code-button-puzzle {
    margin-top: 0.25em;
  }
  
  #see-the-code-button-tic-tac-toe {
    margin-top: 1.5em;
  }
  
  #see-the-code-button-webshop {
    margin-top: 1.5em;
  }
}

.gist-wrapper {
  display: none;
  width: 100%;
  margin-top: 100px;
}

.show-gist {
  display: block;
}

@media only screen and (max-width: 600px) {
  .gist-wrapper {
    width: 95%;
  }
} 

.gist {  
  overflow: scroll;
  height: 450px;
  width: 80vw;
  margin: 0 auto;  
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .gist {
    width: 95%;    
  }
} 

.gist .blob-code-inner {
  font-size: 1.5em !important
}


/* get in contact */

#contact {  
  max-height: 100%; 
  width: 100%;  
  padding: 0 !important;
}

@media (max-width: 600px) {
  #contact {
    padding-top: 15em !important;
  }
}

#message-field-header {  
  color: white;  
  left: 0;
  right: 0;  
  text-align: center; 
  font-size: 1.25em;
}

form {  
  top: 20%;  
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

[class^="form-group"] {
  opacity: 0.75;
}

#email {
  margin-top: 2em;
}

.form-group-message-box {
  padding-top: 30px;
  padding-bottom: 10px;
}

#message {
  width: 100%;
  height: 23em;
}

@media (max-width: 361px) {
  #message-box {
    height: 250px;
  }
}

#submit-button {
  font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
} 

@media (max-width: 576px) {
  form .form-group {
    width: auto;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  form .contactbox {
    padding-left: 0;
  }
}

.hide-form {
  visibility: hidden;
}

/* footer */

footer {
  position: relative;
  background-color: grey;
  opacity: 0.75;
  height: 100px;
  margin-top: 5em;
} 