.text_glitch {

  position: relative;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  z-index: 1;
  font-size: 5vw;
  font-weight: 700;
  margin: 50px 0;
}
 
.text_glitch .text_glitch-link {
  position: relative;
  display: inline-block;
}
 
.text_glitch-link span {
  position: relative;
  z-index: 2;
  color: #fff;
}
 
.blur {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
 
.text_glitch .text_glitch-link:after,
.text_glitch .text_glitch-link:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(data-content);
  visibility: hidden;
}
 
.text_glitch.active .text_glitch-link:after,
.text_glitch.active .text_glitch-link:before {
  visibility: visible;
}
 
.text_glitch .text_glitch-link:before {
  color: rgba(255, 0, 188, 0.8);
  -webkit-animation: text_glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
  animation: text_glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
}
 
 
.text_glitch .text_glitch-link:after {
  color: rgba(0,255,255,0.8);
  -webkit-animation: text_glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
  animation: text_glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
}
 
@keyframes text_glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px)
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px)
  }
  60% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px)
  }
  80% {
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px)
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}